* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --fontsize-overskrift: 3rem;
    --fontsize-medium: 2rem;
    --font-size-small: 1.5rem;
    --fontsize-tekst: 1rem;

    --color-font-light: #ECECEC;
    --color-font-dark: #262626;


    --color-body: #ECECEC;

    --color-header: #004AAD;
    --color-accent2: #2686ff;

    --color-row: #D9E2EC;
    --color-rowh: #004AAD;

    --color-edit2: #00c895;
    --color-edit: rgb(0, 205, 10);
    
    --color-button: #FF6B35;
}

::selection {
    background-color: var(--color-accent2);
    color: var(--color-font-light);
}

body {
    background-color: var(--color-body);
}

/*_______/HEADER\_______*/
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-header);
}

.minlogo{
    display: flex;
    align-items: center;
    padding: 5px;
    width: clamp(100px, 15%, 180px);
    margin-left: 5vw;
}
.minlogo img{
    max-width: 100%;
    height: auto;
    height: auto;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    height: 100%;
    margin-right: 5vw;
}

nav li a{
    display: flex;
    padding: 20px 30px;
    text-decoration: none;
    color: var(--color-font-light);
    text-transform: uppercase;
    transition: color 150ms ease, background-color 150ms ease;
    height: 100%;
    align-items: center;
    font-size: var(--fontsize-tekst);
}
li svg{
    width: 35px;
    height: 35px;
    cursor: pointer;
}


li.aktiv a{
    box-shadow: inset 0px -4px 0px var(--color-accent2);
}
nav li a:hover{
    background-color: var(--color-accent2);
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.velkommen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 20px 0;
    color: var(--color-font-dark);
}

.velkommen > h2{
    margin-bottom: 20px;
    font-size: var(--fontsize-overskrift);
}
.velkommen > p{
    font-size: var(--fontsize-tekst);
}


.layout{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.layout.hjem{
    flex-direction: column;
    align-items: center;
}

/* FORM-STYLING brukes av registrer, login & bilregister.php */
.layout__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    padding: 20px 25px;
    color: var(--color-font-light);
    border-radius: 1rem;
    background-color: var(--color-header);
}
.layout__form.bilregister{
    width: 30%;
    background-color: var(--color-rowh);
}

.layout__formHeader{
    text-align: center;
    font-size: var(--font-size-small);
    margin-bottom: 20px;
}

.layout__formHeader p{
    margin-top: 10px;
    font-size: var(--fontsize-small);
}

.layout__formFooter{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
    font-size: var(--fontsize-tekst);
}
.layout__formFooter.logreg{
    margin-top: 0;
}
.layout__formFooter.hjem{
    margin-top: 0.5rem;
    width: 100%;
    justify-content: space-between;
    align-self: flex-start;
}


.layout__formFooter a{
    color: var(--color-edit2);
}

/*selve formen*/
.form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.form__group{
    margin-bottom: 2rem;
    width: 100%;
}
.form__group span{
    display: block;
    font-size: var(--fontsize-tekst);
    color: red;
}
.form__group label{
    display: block;
    font-size: var(--fontsize-tekst);
    font-weight:500;
    margin-bottom: 0.5rem;
}

.form__group input{
    background: transparent;
    border: 1px solid var(--color-font-light);
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    color: var(--color-font-light);
}
.knapp{
    width: 150px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}
.btn__form{
    width: 100%;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: var(--color-button);
    color: var(--color-font-light);
    font-size: var(--fontsize-tekst);
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    transition: background-color 150ms ease, color 150ms ease, outline 150ms ease;
}
.btn__form:hover{
    background-color: transparent;
    color: var(--color-button);
    outline: 1px solid var(--color-button);
}

/*Logg ut knapp*/
a.btn__form{
    display: inline-block;
    color: var(--color-font-light);
    text-align: center;
    text-decoration: none;
}




/*_______/BILREGISTER.PHP\_______*/
.form.bilregister{
    flex-direction: row;
    justify-content: space-between;
}
.form__group.bilregister{
    margin-bottom: 0;
}
.form__group.bilregister input{
    width: 85%;
    font-size: 13px;
    margin: -0.667px;
}
.btn__form.bilregister{
    font-size: 13px;
}
.knapp.bilregister{
    width: 200px;
}

/* grid styling*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 kolonner */
    grid-template-rows: repeat(6, auto);
    gap: 0.5rem;
    width: 100%;
}
.grid-item{
    font-size: var(--fontsize-tekst);
    padding: 0.8rem;
    padding-bottom: 0.5rem;
}
.grid-item:nth-child(odd){
    border-bottom: 1px solid var(--color-font-light);
}
.grid-item:nth-child(even){
    border-bottom: 1px solid var(--color-accent2);
}

.grid-container.profil{
    grid-template-rows: repeat(3, auto);
}

/* TOGGLE KNAPP */
.togglebiler{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    transition: color 150ms ease;
    font-weight: bold;
}
.togglebiler:hover{
    color: var(--color-accent2);
}
.togglebiler > svg{
    width: 20px;
    height: 20px;
    fill: var(--color-button);
    margin-left: 0.5rem;
    
}
.rotate{
    transition: transform 0.3s ease;
}
.rotated{
    transform: rotate(180deg);
}


/*_______/SETTINGS.PHP\_______*/



/*brukes av settings og profil*/
.grid-logg{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 0.5rem;
    border: 1px solid var(--color-header);
    overflow: hidden;
    max-height: 400px;
    overflow-y: auto;
}
.grid-logg.biler{
    width: 60%;
}
.grid-row{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 5fr 3fr;
    border-bottom: 1px solid var(--color-header);
    text-align: left;
    font-size: var(--fontsize-tekst);
    align-items: center;
}

.grid-row.biler{
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 3fr ;
}

.grid-row.brukere{
    grid-template-columns: 4fr 3fr 2fr 2fr 2fr;
}

.grid-row:nth-child(odd){
    background-color: var(--color-row);
}
.grid-row.h{
    background-color: var(--color-rowh);
    color: var(--color-font-light);
    position: sticky;
    top: 0;
}

.grid-item-h{
    font-weight: bold;
    padding: 0.5rem;
}
.grid-item-logg{
    padding: 0.5rem;
}

.grid-item-logg a{
    margin-left: 1rem;
}
.svg_endre, .svg_slett{
    fill: var(--color-font-dark);
    transition: fill 150ms ease;
}
.svg_endre:hover{
    fill: var(--color-edit);
}
.svg_slett:hover{
    fill: red;
}

.layout__formHeader.profil{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.svg_endre.profil, .svg_slett.profil{
    fill: var(--color-font-light);
}
.svg_endre.profil{
    margin-right: 1rem;
}
.svg_endre.profil:hover{
    fill: var(--color-edit);
}
.svg_slett.profil:hover{
    fill: red;
}

/*_______/PROFIL.PHP\_______*/

.profil-boks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    padding: 20px 25px;
    color: var(--color-font-light);
    border-radius: 1rem;
    background-color: var(--color-header);
    transition: width 0.3s ease-in, transform 0.3s ease-in-out;
}

.layout.single .profil-boks {
    width: 50%; 
}
.layout.double .profil-boks {
    width: 30%;
}

/* justerer grid-styling */
.grid-logg.profil{
    width: 50%;
}
.grid-row.profil{
    grid-template-columns: repeat(6, minmax(60px, 1fr));
}

.grid-logg.profil{
    display: none;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
}

.profil-boks.oversikt{
    width: 30%;
    
}

/* UPDATE.PHP */

.form__group.update input{
    margin-bottom: 1rem;
}


.highlight {
    background-color: yellow;
}






@media (max-width: 960px){
    :root{
        --fontsize-overskrift: 2.7rem;
        --fontsize-medium: 1.7rem;
        --font-size-small: 1.2rem;
        --fontsize-tekst: 0.8rem;
    }
}

@media (max-width: 800px){
    :root{
        --fontsize-overskrift: 2.5rem;
        --fontsize-medium: 1.5rem;
        --font-size-small: 1rem;
        --fontsize-tekst: 0.7rem;
    }
    

}